## Introduction to Data Science

#### University of Redlands - DATA 101
#### Prof: Joanna Bieri [joanna_bieri@redlands.edu](mailto:joanna_bieri@redlands.edu)
#### [Class Website: data101.joannabieri.com](https://joannabieri.com/data101.html)

---------------------------------------
# Homework Day 12
---------------------------------------

GOALS:

1. Practice web scraping.

----------------------------------------------------------

This homework has **3 questions**, **1 exercise** and **1 optional challenge problem**.

## Important Information

- Email: [joanna_bieri@redlands.edu](mailto:joanna_bieri@redlands.edu)
- Office Hours: Duke 209 <a href="https://joannabieri.com/schedule.html"> Click Here for Joanna's Schedule</a>

## Announcements

**In NEXT WEEK - Data Ethics** This week you should be reading your book or articles.

## Day 12 Assignment - same drill.

1. Make sure you can **Fork** and **Clone** the Day12 repo from [Redlands-DATA101](https://github.com/Redlands-DATA101)
2. Open the file Day12-HW.ipynb and start doing the problems.
    * You can do these problems as you follow along with the lecture notes and video.
3. Get as far as you can before class.
4. Submit what you have so far **Commit** and **Push** to Git.
5. Take the daily check in quiz on **Canvas**.
7. Come to class with lots of questions!

------------------------------
---------------------

### Web Scraping Ethical Issues

There are some things to be aware of before you start scraping data from the web. 

- Some data is private or protected. Just because you have access to a websites data doesn't mean you are allowed to scrape it. For example, when you log into Facebook or another social media site, you are granted special access to data about your connected people. It is unethical to use that access to scrape their private data!

- Some websites have rules against scraping and will cut of service to users who are clearly scraping data. How do they know? Webscrapers access the website very differently that regular users. If they site has a policy about scraping data then you should follow it and/or content them about getting the data if you have a true academic interest in the data.

- The line between web scraping and plagiarism can be very blurry. Make sure that you are citing where your data comes from AND not just reproducing the data exactly. Always citing the source of your data and make sure you are doing something new with it.

- Ethics are different depending on if you are using the data for a personal project (eg. you just want to check scores for your favorite team daily and print the stuff you care about) vs if you are using the project for your business or website (eg. publishing information to drive clicks to your site/video/account or making money from the data you collect). In the later case it is EXTRA important to respect the original owner of the data. Drive web traffic back to their site, check with them about using their data, etc.

**The Ethical Scraper** (from https://towardsdatascience.com/ethics-in-web-scraping-b96b18136f01):

I, the web scraper will live by the following principles:

- If you have a public API that provides the data I’m looking for, I’ll use it and avoid scraping all together.
- I will always provide a User Agent string that makes my intentions clear and provides a way for you to contact me with questions or concerns.
- I will request data at a reasonable rate. I will strive to never be confused for a DDoS attack.
- I will only save the data I absolutely need from your page. If all I need it OpenGraph meta-data, that’s all I’ll keep.
- I will respect any content I do keep. I’ll never pass it off as my own.
- I will look for ways to return value to you. Maybe I can drive some (real) traffic to your site or credit you in an article or post.
- I will respond in a timely fashion to your outreach and work with you towards a resolution.
- I will scrape for the purpose of creating new value from the data, not to duplicate it.

In [86]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.io as pio
pio.renderers.defaule = 'colab'

from itables import show

# This stops a few warning messages from showing
pd.options.mode.chained_assignment = None 
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

## Using pandas to get table data.

**Optional** - try using pandas to scrape a new site. See if you get errors or are able to find tables on that site.

In [88]:
import requests
from bs4 import BeautifulSoup

In [90]:
website = 'https://www.imdb.com/chart/top/'
raw_code = requests.get(website)
html_doc = raw_code.text
soup = BeautifulSoup(html_doc, 'html.parser')

---
---

## Using Beautiful Soup to get HTML code

### How to get data from static sites:

You should already have the packages bs4 and requests but if you get an error try running:

```{python}
!conda install -y bs4
!conda install -y requests
```

In [92]:
import requests
from bs4 import BeautifulSoup

In [16]:
website = 'https://www.scrapethissite.com/pages/simple/'

In [18]:
raw_code = requests.get(website)
html_doc = raw_code.text
soup = BeautifulSoup(html_doc, 'html.parser')

#### Lets see what is in soup

**Q1** Uncomment this line and run the cell. You will see a TON of text!

In [41]:
#soup

### Extracting data from HTML:

We will use the **soup.find_all()** function.

Here is the simplified function signature:

    soup.find_all(name=None,attrs={})
    
You can type soup.find_all? and run it to see all the information about additional arguments and advanced processes.

**Here is how we will mostly use it**, but there are much more advanced things you can do:

    soup.find_all( <type of section>, <info> )
    
The **.find_all()** function searches through the information in soup to match and return only sections that match the info. Here are some important types you might search for:

- 'h2' - this is a heading
- 'div' - this divides a block of information
- 'span' - this divides inline information
- 'a' - this specifies a hyperlink
- 'li' - this is a list item

- class_= - many things have the class label (notice the underscore!)
- string= - you can also search by strings.


### Using Developer tools:

To figure out what data to extract I suggest you use developer tools on the website to find what you need. 

**Q2** Navigate to the website and use developer tools to explore the html code.

[Scrape This Site -  Website](https://www.scrapethissite.com/pages/simple/)

I really like Brave Browser or Google Chrome for this, but most browsers with have **More Tools/Developer Tools** where you can see the code.

### Search for all the country names

The names of the country are inside 
        
        <h3 class="country-name">

So lets search for this:

In [20]:
result = soup.find_all('span',class_="country-capital")

In [22]:
result[0]

In [24]:
result[0].text

'Andorra la Vella'

In [26]:
# Create a data frame and add the site names
DF = pd.DataFrame()
DF['capital']=result
DF['capital'] = DF['capital'].apply(lambda x: x.text)
DF

              capital
0    Andorra la Vella
1           Abu Dhabi
2               Kabul
3          St. John's
4          The Valley
..                ...
245             Sanaa
246         Mamoudzou
247          Pretoria
248            Lusaka
249            Harare

[250 rows x 1 columns]

### Your turn to try this!

**Q3** Now it's your turn. See if you can write code that gets the population and area information into the data frame. See if you can make your example match what I get below, including having the correct data types. Population should be an int and area should be a float.

Your goal is to get a data frame that looks like the one in lecture with columns for country, capital, population, and area!

In [28]:
result = soup.find_all('span',class_="country-population")
result[0]
result[0].text
DF = pd.DataFrame()
DF['population']=result
DF['population'] = DF['population'].apply(lambda x: x.text)
DF

    population
0        84000
1      4975593
2     29121286
3        86754
4        13254
..         ...
245   23495361
246     159042
247   49000000
248   13460305
249   11651858

[250 rows x 1 columns]

In [46]:
countries = soup.find_all('h3', class_="country-name")

In [56]:
countries = soup.find_all('h3',class_="country-name")
countries[0]
countries[0].text
DF = pd.DataFrame()
DF['country']=countries
DF['country'] = DF['country'].apply(lambda x: x.text)
DF

                                               country
0    \n\n                            Andorra\n     ...
1    \n\n                            United Arab Em...
2    \n\n                            Afghanistan\n ...
3    \n\n                            Antigua and Ba...
4    \n\n                            Anguilla\n    ...
..                                                 ...
245  \n\n                            Yemen\n       ...
246  \n\n                            Mayotte\n     ...
247  \n\n                            South Africa\n...
248  \n\n                            Zambia\n      ...
249  \n\n                            Zimbabwe\n    ...

[250 rows x 1 columns]

In [72]:
countries = soup.find_all('h3', class_="country-name") 
populations = soup.find_all('span', class_="country-population")  
areas = soup.find_all('span', class_="country-area")  
capitals = soup.find_all('span', class_="country-capital") 


DF = pd.DataFrame()

DF['country'] = countries
DF['population'] = populations
DF['area'] = areas
DF['capital'] = capitals

DF['country'] = DF['country'].apply(lambda x: x.text.replace('\n',''))
DF['population'] = DF['population'].apply(lambda x: x.text)
DF['area'] = DF['area'].apply(lambda x: x.text)
DF['capital'] = DF['capital'].apply(lambda x: x.text)

DF

,country,population,area,capital
0,Andorra ...,84000,468.0,Andorra la Vella
1,United Arab Emirat...,4975593,82880.0,Abu Dhabi
2,Afghanistan ...,29121286,647500.0,Kabul
3,Antigua and Barbud...,86754,443.0,St. John's
4,Anguilla ...,13254,102.0,The Valley
...,...,...,...,...
245,Yemen ...,23495361,527970.0,Sanaa
246,Mayotte ...,159042,374.0,Mamoudzou
247,South Africa ...,49000000,1219912.0,Pretoria
248,Zambia ...,13460305,752614.0,Lusaka
249,Zimbabwe ...,11651858,390580.0,Harare

### Challenge Problem

Here is another website to scrape. See if you can create a data frame that looks like the one in the lecture notes. Notice that you can only scrape the first page with the first link. 

If you want to try scraping the other pages you have to notice how the website updates its address for each page. Then write a for loop to loop through how ever many pages you want to scrape. Do the same set of operations for each page keep adding data to your data frame.

Make a histogram of your final data.

### Where can you get more practice

Here is a website dedicated to allowing students to practice webscraping:

[www.scrapethissite.com](https://www.scrapethissite.com/pages/)

-----------------
### Exercise 1:

We are going to scrape the site above to get the list of all links. 

Open the website and look at the developer tools.

Here is our goal: Make a pandas data frame that contains three columns: 

* "site_name" - which contains just the words of the link
* "link" - which contains just the website part of the link
* "description" - which contains the words below the link

When looking for links you can use

    result = soup.find_all('a')
    result[0].text # Get the text associated with the link
    result[0].get('href') # Get the link location



See if you can do this without looking at my code in the notes! What would your plan have to be?

**See the lecture notes for hints and the solution!**

In [343]:
website='https://www.scrapethissite.com/pages/'
raw_code = requests.get(website)
html_doc = raw_code.text
soup = BeautifulSoup(html_doc, 'html.parser')

In [349]:
result = soup.find_all('a')
result[0].text.rstrip().lstrip()
# The first few are from the top of the page not the main content
result[0].get('href')

'/'

In [351]:
DF = pd.DataFrame()
result = soup.find_all('p',class_="lead session-desc")
DF['site_name'] = result
DF['site_name'] = DF['site_name'].apply(lambda x: x.text.lstrip().rstrip())
DF['link'] = result
DF['link'] = DF['link'].apply(lambda x: x.get('href'))
DF['description'] = result
DF['description'] = DF['description'].apply(lambda x: x.text.rstrip().lstrip())
DF

,site_name,link,description
0,A single page that lists information about all...,None,A single page that lists information about all...
1,Browse through a database of NHL team stats si...,None,Browse through a database of NHL team stats si...
2,Click through a bunch of great films. Learn ho...,None,Click through a bunch of great films. Learn ho...
3,Some older sites might still use frames to bre...,None,Some older sites might still use frames to bre...
4,"Scraping real websites, you're likely run into...",None,"Scraping real websites, you're likely run into..."

In [110]:
# Get all the anchor tags
results = soup.find_all('a')

# Create an empty DataFrame
import pandas as pd
DF = pd.DataFrame()

# Extract text from each anchor tag and store in DataFrame
DF['results'] = [result.text for result in results]

# Alternatively, if you want to extract href attributes instead of text
DF['links'] = [result.get('href') for result in results]

# Display the DataFrame
print(DF)

                                             results      links
0  \n\n                                Scrape Thi...          /
1  \n\n                                Sandbox\n ...    /pages/
2  \n\n                                Lessons\n ...  /lessons/
3  \n\n                                FAQ\n     ...      /faq/
4  \n                                Login\n     ...    /login/
5                                                       /pages/
6                                                     /lessons/

**Try to scrape the name, the link to the book, and the prices! I decided to put the name and link information into a single column and then break that apart**

In [240]:
website='https://books.toscrape.com/index.html'
raw_code = requests.get(website)
html_doc = raw_code.text
soup = BeautifulSoup(html_doc, 'html.parser')

In [124]:

# Scrape book names, links, and prices
book_titles = soup.find_all('h3')  # Book titles are in <h3> tags
book_prices = soup.find_all('p', class_='price_color')  # Prices are in <p> tags with class 'price_color'
book_links = soup.find_all('h3')  # Links are in <h3> tags nested in <a> tags

# Create an empty DataFrame
DF = pd.DataFrame()

# Fill the DataFrame
DF['book_title'] = book_titles
DF['price'] = book_prices
DF['link'] = book_links

# Extract text and links from the scraped data
DF['book_title'] = DF['book_title'].apply(lambda x: x.a['title'])
DF['price'] = DF['price'].apply(lambda x: x.text)
DF['link'] = DF['link'].apply(lambda x: 'https://books.toscrape.com/' + x.a['href'])

DF

Empty DataFrame
Columns: [book_title, price, link]
Index: []

In [128]:
book_titles = soup.find_all('h3')
book_titles

[]

In [136]:
book_links = soup.find_all('href')
book_links

[]

In [204]:
everything = soup.find_all('p', class_="price_color")
everything[0].striptext
everything[0]

In [243]:
price = soup.find_all('p', class_="price_color")
title = soup.find_all('h3', a="title")
title_link = soup.find_all('h3')
title=book_title_link.a['title']
book_link=book_title_link.a['href']
DF-pd.DataFrame()
DF['price']= price
DF['price']=DF['price'].apply(lambda x: x.text.replace('<p class="price_color">','').replace('</p>',''))
DF['price']=DF['price'].apply(lambda x: x.replace('Â£',''))
DF

    book_title  price  link
0          NaN  51.77   NaN
1          NaN  53.74   NaN
2          NaN  50.10   NaN
3          NaN  47.82   NaN
4          NaN  54.23   NaN
5          NaN  22.65   NaN
6          NaN  33.34   NaN
7          NaN  17.93   NaN
8          NaN  22.60   NaN
9          NaN  52.15   NaN
10         NaN  13.99   NaN
11         NaN  20.66   NaN
12         NaN  17.46   NaN
13         NaN  52.29   NaN
14         NaN  35.02   NaN
15         NaN  57.25   NaN
16         NaN  23.88   NaN
17         NaN  37.59   NaN
18         NaN  51.33   NaN
19         NaN  45.17   NaN

In [277]:
book_title = soup.find_all('h3')
book_title[0].a['title']

'A Light in the Attic'

In [148]:
everything

[<a class="nav-link hidden-sm hidden-xs" href="/">
 <img id="nav-logo" src="/static/images/scraper-icon.png"/>
                                 Scrape This Site
                             </a>,
 <a class="nav-link" href="/pages/">
 <i class="glyphicon glyphicon-console hidden-sm hidden-xs"></i>
                                 Sandbox
                             </a>,
 <a class="nav-link" href="/lessons/">
 <i class="glyphicon glyphicon-education hidden-sm hidden-xs"></i>
                                 Lessons
                             </a>,
 <a class="nav-link" href="/faq/">
 <i class="glyphicon glyphicon-flag hidden-sm hidden-xs"></i>
                                 FAQ
                             </a>,
 <a class="nav-link" href="/login/">
                                 Login
                             </a>,
 <a class="btn btn-lg btn-default" href="/pages/"></a>,
 <a class="btn btn-lg btn-primary" href="/lessons/"></a>]